/*
Palette
#09151E
#14232A
#030A10
#1F3537
#2D4948
#40635C
#5E8779
#351D1E
#87B2A0
#C0E5D8
*/

body {
  font-family: Lucida Console, Monaco, monospace;
  color: #C0E5D8;
}

.container {
  background-image: url("https://wallpapercave.com/wp/IT8wP6U.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
}

a {
  color: #3399ff;
}

a:hover {
  background-color: transparent;
  color: #80bfff;
}

.navbar-inner {
  position: relative;
  border: none;
  border-radius: unset;
  background-image: linear-gradient(#030A10, #1F3537 30%, #030A10 90%, transparent);
  background-color: unset;
  height: 100%
}

#login-status {
  top: 50%;
  transform: translateY(-50%);
}

#search-top-box {
  top: 50%;
  transform: translateY(-50%);
  right: 12em;
}

.form-search .input-append .search-query {
  border-radius: unset;
}

.form-search .input-append .btn {
  border-radius: unset;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: unset;
    border-top-right-radius: unset;
    -webkit-border-bottom-right-radius: unset;
    border-bottom-right-radius: unset;
    -moz-border-radius-topright: unset;
    -moz-border-radius-bottomright: unset;
}

.btn-group > .btn:first-child {
    -webkit-border-bottom-left-radius: unset;
    border-bottom-left-radius: unset;
    -webkit-border-top-left-radius: unset;
    border-top-left-radius: unset;
    -moz-border-radius-bottomleft: unset;
    -moz-border-radius-topleft: unset;

}

.btn {
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  border-radius: unset;
}

.row-fluid {
  margin: 2em;
  width: auto;
}

#page-content {
  padding: 1em;
  border: 1px solid #40635C;
  background-color: #09151E;
}

#side-bar {
  border: 1px solid #40635C;
  background-color: #09151E;
}

hr {
  color: #14232A;
}

#license-area {
  color: #C0E5D8;
}

.nav-collapse.collapse {
  position: unset;
}

.navbar .btn-group {
  margin-top: 0px;
}

input {
  font-family: Lucida Console, Monaco, monospace;
}

input.text {
  padding: 4px 6px;
  color: #C0E5D8;
  background-color: #14232A;
  border: 1px solid #40635C;
}

input.text:before {
  content: "";
  height: 0px;
  width: 10px;
  border-bottom: 20px solid #14232A;
  border-left: 20px solid transparent;
}
