/*
Palette
#09151E
#14232A
#030A10
#1F3537
#2D4948
#40635C
#5E8779
#351D1E
#87B2A0
#C0E5D8
*/

@font-face {
  font-family: Swera Shadowed;
  src: url("https://cdn.staticaly.com/gh/Kritnich/maven-city-css/testing/Swera%20Shadowed%20Demo.otf");
}

body {
  font-family: Lucida Console, Monaco, monospace;
  color: #C0E5D8;
}

.container {
  background-image: url("https://wallpapercave.com/wp/IT8wP6U.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
}

a {
  color: #3399ff;
}

a:hover {
  background-color: transparent;
  color: #80bfff;
}

.navbar-inner {
  position: relative;
  border: none;
  background-image: linear-gradient(
    hsl(0, 0%, 0%) 0%,
    hsla(0, 0%, 0%, 0.738) 19%,
    hsla(0, 0%, 0%, 0.541) 34%,
    hsla(0, 0%, 0%, 0.382) 47%,
    hsla(0, 0%, 0%, 0.278) 56.5%,
    hsla(0, 0%, 0%, 0.194) 65%,
    hsla(0, 0%, 0%, 0.126) 73%,
    hsla(0, 0%, 0%, 0.075) 80.2%,
    hsla(0, 0%, 0%, 0.042) 86.1%,
    hsla(0, 0%, 0%, 0.021) 91%,
    hsla(0, 0%, 0%, 0.008) 95.2%,
    hsla(0, 0%, 0%, 0.002) 98.2%,
    hsla(0, 0%, 0%, 0) 100%
  );
  background-color: transparent;
  height: 100%;
}

.nav-collapse.collapse {
  position: unset;
}

.navbar .btn-group {
  margin-top: 0px;
}

.navbar .brand {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: none;
  font-family: Swera Shadowed;
  font-size: 3em;
  color: #C0E5D8;
  margin-left: 0.5em;
  padding: 0;
}

.navbar .brand span:before {
  display: block;
  color: #0ff;
  content: 'Maven City';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: -1;
  animation: glitch 5s cubic-bezier(.25, .46, .45, .94) both infinite;
}

.navbar .brand span:after {
  display: block;
  color: #f0f;
  content: 'Maven City';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: .8;
  z-index: -2;
  animation: glitch 5s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
}

@keyframes glitch {
    0% {transform: translate(0)}
    20% {transform: translate(-3px, 3px)}
    40% {transform: translate(-3px, -3px)}
    60% {transform: translate(3px, 3px)}
    80% {transform: translate(3px, -3px)}
    to {transform: translate(0)}
}

#login-status {
  top: 50%;
  transform: translateY(-50%);
}

#search-top-box {
  top: 50%;
  transform: translateY(-50%);
  right: 12em;
}

.form-search .input-append .search-query {
  border-radius: unset;
}

.form-search .input-append .btn {
  border-radius: unset;
  margin: 0;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    -webkit-border-top-right-radius: unset;
    border-top-right-radius: unset;
    -webkit-border-bottom-right-radius: unset;
    border-bottom-right-radius: unset;
    -moz-border-radius-topright: unset;
    -moz-border-radius-bottomright: unset;
}

.btn-group > .btn:first-child {
    -webkit-border-bottom-left-radius: unset;
    border-bottom-left-radius: unset;
    -webkit-border-top-left-radius: unset;
    border-top-left-radius: unset;
    -moz-border-radius-bottomleft: unset;
    -moz-border-radius-topleft: unset;

}

.btn {
  -webkit-border-radius: unset;
  -moz-border-radius: unset;
  border-radius: unset;
}

.row-fluid {
  margin: 4em;
  width: auto;
}

#page-content {
  position: relative;
  padding: 1em;
  background-color: rgba(3, 10, 16, .9);
}

#side-bar {
  background-color: rgba(3, 10, 16, .9);
}

hr {
  color: #14232A;
}

#license-area {
  color: #C0E5D8;
}

input {
  font-family: Lucida Console, Monaco, monospace;
}

input.text, input.btn {
  padding: 4px 6px;
  color: #C0E5D8;
  background-color: #14232A;
  background-image: none;
  border: 1px solid #23a374;
  transform: skewX(-10deg);
  text-shadow: none;
  box-shadow: none;
  transition: 0.5s;
}

input.btn {
  color: #87B2A0;
}

input.btn:hover, input.btn:active, input.btn:focus {
  background-color: #14232A;
  transition: 0.5s;
  color: #C0E5D8;
  border-color: #C0E5D8;
}

input.text:focus {
  box-shadow: none;
  border-color: #C0E5D8;
}
